In [18]:
def volume(base , height):
    base = float(input())
    height = float(input())
    vol = 3.14 * base * height
    return(vol)

In [17]:
def calculate_volume(base, height):
    base = float(input("Enter the base: "))
    height = float(input("Enter the height: "))
    volume = 3.14 * base * height
    print("Volume:", volume)

In [25]:
result = volume(5 ,10)
result

ValueError: could not convert string to float: ''

In [26]:
def add_num(num1,num2):
    return num1+num2

In [27]:
result = add_num(10,20)

In [28]:
result

30

In [29]:
result = add_num('10','20')

In [30]:
result

'1020'

In [31]:
60 % 3 == 0

True

In [32]:
def even_check(num):
    if num%2==0:
        return result

In [34]:
even_check(10)

True

In [6]:
def check_even(num_list):
    for num in num_list:
        if num%2==0:
            return True
        else:
            pass

In [7]:
num_list = [1,3,5,7,9,10]

In [8]:
result1 = check_even(num_list)

In [9]:
result1

True

In [10]:
#return all the even numbers in the list

In [20]:
def check_even(num_list):
    even_numbers = []
    for num in num_list:
        if num%2==0:
            even_numbers.append(num)
        else:
            pass
    return even_numbers

In [21]:
result2 = check_even([2,5,6,7,9,12,20])

In [22]:
result2

[2, 6, 12, 20]

In [23]:
stock_prices = [('mercedes',200),('aston_martin',100),('red_bull',50)]

In [24]:
for item in stock_prices:
    print(item)

('mercedes', 200)
('aston_martin', 100)
('red_bull', 50)

In [26]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
110.0
55.0

In [37]:
work_hours = [('keval',40),('bhumi',500),('luois',100)]

In [38]:
def employee(work_hours):
    current_max=0
    employee_of_month = ''
    for employee,hours in work_hours:
        if hours>current_max:
            current_max=hours
            employee_of_month = employee
    
        
    
    return(employee_of_month,current_max)

In [39]:
result = employee(work_hours)

In [40]:
result

('bhumi', 500)

In [41]:
name,hours = employee(work_hours)

In [42]:
name

'bhumi'

In [43]:
hours

500

In [44]:
example = [2,3,4,5,6,7,8,9,10,64]

In [45]:
from random import shuffle

In [46]:
shuffle(example)

In [47]:
example

[2, 5, 9, 64, 6, 4, 10, 3, 7, 8]

In [52]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [55]:
result = shuffle_list(example)

In [56]:
result

[7, 3, 8, 4, 10, 2, 5, 64, 6, 9]

In [57]:
mylist = ['','0','','','']

In [58]:
shuffle_list(mylist)

['0', '', '', '', '']

In [59]:
def player_guess():
    guess=''
    while guess not in ['0','1','2','3','4']:
        guess=input("pick a number : 0,1,2,3,4 : ")
    return int(guess)
myindex=player_guess()

pick a number : 0,1,2,3,4 : 2

In [60]:
myindex

2

In [63]:
def check_guess(mylist,guess):
    if mylist[guess]== '0':
        print("Congrats ! you won !!")
    else:
        print("you lose")
        print(mylist)

In [70]:
#lets put it together 
mylist = ['','0','','','']
new_list = shuffle_list(mylist)
guess = player_guess()
check_guess(new_list,guess)

pick a number : 0,1,2,3,4 : 0
Congrats ! you won !!

In [72]:
from random import shuffle
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

mylist = ['','0','','','']

def player_guess():
    while True:
        guess = input("Pick a number: 0, 1, 2, 3, 4: ")
        if guess in ['0', '1', '2', '3', '4']:
            return int(guess)
        else:
            print("Invalid input. Please enter a number between 0 and 4.")


myindex=player_guess() 

def check_guess(mylist,guess):
    if mylist[guess]== '0':
        print("Congrats ! you won !!")
    else:
        print("you lose")
        print(mylist)

#lets put it together 
mylist = ['','0','','','']
new_list = shuffle_list(mylist)
guess = player_guess()
check_guess(new_list,guess)

Pick a number: 0, 1, 2, 3, 4: 3
Pick a number: 0, 1, 2, 3, 4: 2
you lose
['', '0', '', '', '']

In [73]:
from random import shuffle

def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

def player_guess():
    while True:
        guess = input("Pick a number: 0, 1, 2, 3, 4: ")
        if guess in ['0', '1', '2', '3', '4']:
            return int(guess)
        else:
            print("Invalid input. Please enter a number between 0 and 4.")

mylist = ['','0','','','']
new_list = shuffle_list(mylist)
guess = player_guess()
check_guess(new_list, guess)

def check_guess(mylist, guess):
    if mylist[guess] == '0':
        print("Congratulations! You won!")
    else:
        print("You lose.")
        print(mylist)

Pick a number: 0, 1, 2, 3, 4: 0
you lose
['', '', '', '', '0']

In [1]:
#learning about args and kwargs

In [2]:
def myfunc(a,b,c=0,d=0,e=0):
    #returns 5% of total
    return sum((a,b,c,d,e))*0.05

In [5]:
myfunc(10,40,50,150,50)

15.0

In [10]:
def myfunc(*args):
    print(args)
    return sum(args)*0.05

In [11]:
myfunc(40,40,20,100,50,100,56.45,89)

(40, 40, 20, 100, 50, 100, 56.45, 89)

24.7725

In [24]:
def myfunc1(**kwargs):
    if 'fruit' in kwargs:
        print('my favourite fruit is {}'.format(kwargs['fruit']))
    else:
        print('i did not find this fruit here')

In [27]:
myfunc1(fruit='mango',veggie ='cauliflower')

my favourite fruit is mango

In [35]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('i would like {} {}'.format(args[0],kwargs['food']))

In [36]:
myfunc(10,20,30,food='idli-vada',food1='fried rice',fruit='mango',food2='juice')

(10, 20, 30)
{'food': 'idli-vada', 'food1': 'fried rice', 'fruit': 'mango', 'food2': 'juice'}
i would like 10 idli-vada

In [2]:
def myfunc(*args):
    a = []
    for num in args:
        if args%2==0:
            return a.append(num)

In [7]:
def myfunc1(*args):
    a = []
    for num in args:
        if num%2==0:
            return a.append(num)
        else:
            pass

In [8]:
print( myfunc1(2,3,4,-2) )

None

In [ ]:
print(x)

In [9]:
def myfunc(str):
    for char in str:

SyntaxError: incomplete input (3874008085.py, line 3)

In [12]:
int x = char a(int)

SyntaxError: invalid syntax (969160453.py, line 1)

In [14]:
print(ord('A'))

65

In [28]:
def myfunc1(str):
    new_string = ""
    for char in str:
        if ord(char)%2==0:
            new_string += char.upper()
        else:
            new_string += char.lower()
    return new_string

In [29]:
myfunc1("abcd")

'aBcD'

In [27]:
print(myfunc1)

<function myfunc1 at 0x0000019C1A1D7490>

In [30]:
print(myfunc1('Anthropomorphism'))

aNTHRoPomoRPHism

In [32]:
def myfunc(string):
    new_string = ''
    for index, char in enumerate(string):
        if index % 2 == 0:
            new_string += char.upper()
        else:
            new_string += char.lower()
    return new_string
print(myfunc('abcd'))

AbCd

In [2]:
g = max(3,6)

In [3]:
print(g)

6

In [10]:
#question 1
def num_check(a,b):
    if(a%2==0 and b%2==0):
        return min(a,b)
    elif(a%2==0 or b%2==0):
        return max(a,b)

In [11]:
num_check(4,6)

4

In [12]:
num_check(3,8)

8

In [15]:
#question 2
def string_checker(a,b):
    for char in str(a):
        for char in str(b):
            if a[0] == b[0]:
                return True
            else:
                return False

In [16]:
string_checker("keval","king")

True

In [17]:
string_checker("bhumi","shah")

False

In [19]:
#question 3
def num20(a,b):
    if(a+b == 20):
        return True
    elif(a==20 or b==20):
        return True
    else:
        return False

In [20]:
num20(20,10)

True

In [21]:
num20(10,10)

True

In [22]:
num20(2,3)

False

In [41]:
#level 1 problems 
#question 1 
def cap(a):
    for char in str(a):
        first_letter = a[0]
        inbetween = a[1:3]
        fourth_letter = a[3]
        rest = a[4:]
        return first_letter.upper() + inbetween + fourth_letter.upper() + rest

In [42]:
cap("mango")

'ManGo'

In [52]:
#question 2
def koko(a):
    for char in str(a):
        new_str = a[::-1]
        return new_str

In [53]:
koko("keval")

'lavek'

In [54]:
def has33(a):
    for num in list[a]:
        if

SyntaxError: invalid syntax (2818136315.py, line 3)

In [78]:
def has33(a):
    for i in range(0,len(a)-1):
        if a[i] == 3 and a[i+1] == 3:
            return True
    return False

In [79]:
has33([1,3,3])

True

In [80]:
has33([1,2,3,4])

False

In [81]:
has33([3,3,3])

True

In [82]:
has33([1,2,3,3])

True

In [89]:
def triple(a):
    result = ''
    for char in str(a):
        result = result + char*3
    return result

In [90]:
triple("keval")

'kkkeeevvvaaalll'

In [93]:
def summer_69(arr):
    total=0
    add = True 
    for num in arr:
        while add:
            if num!=6:
                total = total + num
                break
            else:
                add = False
        while not add:
            if num!=9:
                break
            else:
                add = True
                break
    return total

In [94]:
summer_69([1,2,3,4,5,6,7,9,10])

25

In [3]:
def count_primes(num):
    if num<2:
        return 0
    primes = [2]
    x = 3
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x=x+2
                break
        else:
            primes.append()
            x=x+2
    print(primes)
    return len(primes)

In [4]:
count_primes(10)

TypeError: list.append() takes exactly one argument (0 given)

In [5]:
count_primes(15)

TypeError: list.append() takes exactly one argument (0 given)

In [7]:
def count_primes(num):
    if num<2:
        return 0
    primes = [2]
    x = 3
    while x <= num:
        for y in range(3,x,2):
            if x%y == 0:
                x+=2
                break
        else:
            primes.append()
            x+=2
    print(primes)
    return len(primes)

In [8]:
print("Oh ! goodness graces")

Oh ! goodness graces